In [51]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier

dta = pd.read_excel('titanic.xls')
dta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
pclass       1309 non-null int64
survived     1309 non-null int64
name         1309 non-null object
sex          1309 non-null object
age          1046 non-null float64
sibsp        1309 non-null int64
parch        1309 non-null int64
ticket       1309 non-null object
fare         1308 non-null float64
cabin        295 non-null object
embarked     1307 non-null object
boat         486 non-null object
body         121 non-null float64
home.dest    745 non-null object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.2+ KB

In [59]:
#dta['age'].isnull().sum()#suma null
dta['age'] = dta['age'].fillna(dta['age'].median())
dta['embarked']=dta['embarked'].fillna('S')
dta.loc[dta['sex'] == 'male', 'sex'] = 0
dta.loc[dta['sex']=='female','sex']=1
dta.loc[dta['embarked']=='S','embarked'] =0
dta.loc[dta['embarked']=='C','embarked'] =1
dta.loc[dta['embarked']=='Q','embarked'] =2
dta['fare'] = dta['fare'].fillna(dta['fare'].median())

In [62]:
#new_col = ['age','sex','embarked','pclass','fare','sibsp','parch']
new_col = ['age','sex','embarked','fare','pclass']
x_train = dta[new_col]
y_train = dta['survived']
knn = KNeighborsClassifier()
knn.fit(x_train,y_train)
knn.score(x_train,y_train)

0.7937356760886173

In [63]:
a = knn.predict(x_train)
a = a.round()

l=[]
for i in a:
    i = int(i)
    l.append(i)

mainFrame = pd.DataFrame({'passID':dta.index,
                         'survived1': a,
                         'sur':dta['survived']})
mainFrame

      passID  survived1  sur
0          0          1    1
1          1          1    1
2          2          1    0
3          3          1    0
4          4          1    0
5          5          1    1
6          6          1    1
7          7          0    0
8          8          1    1
9          9          0    0
10        10          1    0
11        11          1    1
12        12          1    1
13        13          1    1
14        14          0    1
15        15          0    0
16        16          1    0
17        17          1    1
18        18          0    1
19        19          1    0
20        20          1    1
21        21          1    1
22        22          1    1
23        23          1    1
24        24          0    1
25        25          0    0
26        26          1    1
27        27          1    1
28        28          1    1
29        29          0    1
...      ...        ...  ...
1279    1279          1    0
1280    1280          0    0
1281    1281          0    0
1282    1282          0    0
1283    1283          0    0
1284    1284          0    0
1285    1285          0    0
1286    1286          0    1
1287    1287          0    0
1288    1288          0    0
1289    1289          0    0
1290    1290          0    1
1291    1291          0    0
1292    1292          0    0
1293    1293          0    0
1294    1294          0    0
1295    1295          0    0
1296    1296          0    0
1297    1297          0    0
1298    1298          0    0
1299    1299          0    0
1300    1300          0    1
1301    1301          0    0
1302    1302          0    0
1303    1303          0    0
1304    1304          1    0
1305    1305          0    0
1306    1306          0    0
1307    1307          0    0
1308    1308          0    0

[1309 rows x 3 columns]